.vs/JAWS/
API/obj/Debug/
.vs/
API/bin/Debug/
Connection/obj/Debug/
Connection/bin/Debug/
API/bin/Release/
Connection/obj/Release/
API/obj/
Connection/bin/Release/
Connection/obj/
Connection/obj/
Connection/bin/
API/bin/
API/Properties/PublishProfiles/FolderProfile.pubxml.user
Connection/bin/Release/netcoreapp3.1/Connection.dll
Connection/bin/Release/netcoreapp3.1/Connection.pdb
Connection/obj/Connection.csproj.nuget.dgspec.json
Connection/obj/Connection.csproj.nuget.g.props
Connection/obj/project.assets.json
API/Properties/PublishProfiles/Frank.pubxml
API/Properties/PublishProfiles/Mondial.pubxml
API/Properties/PublishProfiles/Palace.pubxml
Connection/bin/Release/

deploy.bat
